:root {
  --main-color: #06c;
}

body {
  shape-rendering: crispEdges;
}

#err {
  margin: 10px;
}

.day {
  fill: #eee;
  stroke: #fff;
  stroke-width: 3px;
}

.title {
  margin-top: 77px;
}

.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
  outline: 0 !important;
  box-shadow: none;
}

.circle {
  border-radius: 50%;
}
